header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: var(--bg-color);
  height: var(--header-size);
  padding: 0px var(--body-padding);
  box-sizing: border-box;
  border: 1px solid var(--border-color);
}

header span {
  font-size: 18px;
}

.nav-mobile {
  display: none;
}

header div {
  display: flex;
  justify-content: left;
}

header a {
  font-size: 13px;
  margin-left: 8px;
}

header a:hover {
  opacity: 0.5;
}

header button {
  all: unset;
  font-size: 13px;
  margin-left: 8px;
  cursor: pointer;
  transition: color 0.1s;
}

header button:hover {
  color: var(--hover-color);
}
