@media screen and (max-width: 1050px) {
  @media screen and (max-width: 768px) {
    :root {
      --body-padding: 15px;
      --inner-padding: 10px;
      --header-size: 45px;
    }

    header a,
    header button {
      margin-left: 4px;
    }

    .heading {
      height: 40px;
    }

    h1 {
      font-size: 20px;
    }

    @media screen and (max-width: 400px) {
      :root {
        --body-padding: 12px;
      }

      header a {
        margin-left: 2px;
      }
    }
  }

  body {
    font-size: 14px;
  }

  .nav-mobile {
    display: flex;
  }

  .color-change {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .wrapper {
    max-width: 820px;
  }
}
