---
import "../styles/header.css";
---

<header>
  <span>nirmitjoshi</span>
  <div class="nav-mobile">
    <a href="/">[home]</a>
    <a href="/posts/">[posts]</a>
    <a href="/music/">[music]</a>
    <button>[w]</button>
  </div>
  <div class="color-change">
    <button>[lavender]</button>
    <button>[green]</button>
    <button>[mauve]</button>
    <button>[r]</button>
  </div>
  <script>
    import "../scripts/header.js";
  </script>
</header>
