---
import "../styles/sidebar.css";
---

<aside class="sidebar">
  <nav>
    <a href="/">
      <span class="number">00</span>
      <span class="text-btn">Home</span>
    </a>
    <a href="/posts/">
      <span class="number">01</span>
      <span class="text-btn">Posts</span>
    </a>
    <a href="/music/">
      <span class="number">02</span>
      <span class="text-btn">Music</span>
    </a>
  </nav>
  <div class="links">
    <a
      href="https://x.com/thenirmitjoshi"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="text-links">Twitter</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M18 6L7 17"></path>
        <path d="M8 6h10v10"></path>
      </svg>
    </a>
    <a
      href="https://github.com/nirmitjoshi"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="text-links">GitHub</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M18 6L7 17"></path>
        <path d="M8 6h10v10"></path>
      </svg>
    </a>
    <a
      href="mailto:nirmit@nirmitjoshi.tech"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="text-links">Mail</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path d="M18 6L7 17"></path>
        <path d="M8 6h10v10"></path>
      </svg>
    </a>
  </div>
</aside>
