---
import BaseLayout from "./BaseLayout.astro";
import { handleImage } from '../scripts/imageHandler';

const { frontmatter } = Astro.props;

const seoProps = {
  title: 'Nirmit Joshi | Music',
  description: frontmatter.description || "Nirmit's Music Taste",
  image: handleImage(frontmatter.image)
};
---

<BaseLayout gridTemplateRows="1fr" {...seoProps}>
  <section class="posts-md">
    <div class="heading">
      <div>
        <h1>{frontmatter.title}</h1>
      </div>
    </div>
    <div class="content-md markdown-content">
      <slot />
    </div>
  </section>
</BaseLayout>
